<!DOCTYPE html>
<html>
<head>
  <title>
    Login
  </title>
</head>
<body>
<h1>
  Login
</h1>

<br>
<br>

<form>
  <div class="form-group">
    <label>
      Username
    </label>
<!--    <input type="email" class="form-control" placeholder="Enter email">-->
    <input type="text"
           class="form-control"
           placeholder="Enter Username"
           [(ngModel)]="username" name="username">
    <!--           class="form-control"-->
  </div>
  <div class="form-group">
    <label>
      Password
    </label>
<!--    <input type="password" class="form-control"placeholder="Password">-->
    <input type="password"
           class="form-control"
           placeholder="Enter Password" [(ngModel)]="password" name="password">
    <small>
      <a href="../forgotPassword/forgotPassword.html">
        Forgot Password?
      </a>
    </small>
  </div>

  <br>

  <div class="row-1">
<!--<button (click)="login()">Login</button>-->
    <a class="btn btn-dark btn-lg col-6" (click)="login(username, password)">
      Login
    </a>
  </div>

  <br>

  <div class="row">
    <div class="col">
      <a class="btn btn-dark btn-lg col-6" href="../signUp/signUp.html">
        Sign Up
      </a>
    </div>

    <div class="col">
      <a class="btn btn-dark btn-lg col-6" href="../index.html">
        Home
      </a>
    </div>
  </div>
</form>

<br>
<br>
<br>

</body>
</html>
