<!DOCTYPE html>
<html>
<head>
  <title>
    Login
  </title>
</head>
<body>
<h1>
  Login
</h1>

<br>
<br>

<form>
  <div class="form-group">
    <label>
      Email address
    </label>
    <input type="email" class="form-control" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label>
      Password
    </label>
    <input type="password" class="form-control"placeholder="Password">
    <small>
      <a href="../forgotPassword/forgotPassword.html">
        Forgot Password?
      </a>
    </small>
  </div>

  <br>

  <div class="row-1">
    <a class="btn btn-dark btn-lg col-6" href="../dashboard/dashboard.html">
      Login
    </a>
  </div>

  <br>

  <div class="row">
    <div class="col">
      <a class="btn btn-dark btn-lg col-6" href="../signUp/signUp.html">
        Sign Up
      </a>
    </div>

    <div class="col">
      <a class="btn btn-dark btn-lg col-6" href="../index.html">
        Home
      </a>
    </div>
  </div>
</form>

<br>
<br>
<br>
<!--
		<p>Check out a list of <a href="myPlans" >my plans.</a></p>

		<p>Check out a list of <a href="myWork" >my work.</a></p>

		<p>CHeck out <a target="_google" href="http://google.com"> Google.</a> -->
</body>
</html>
