<!DOCTYPE html>
<html>
  <head>
    <title>
      signUp
    </title>
  </head>
  <body>
  <h1>
    Sign Up
  </h1>

  <br>
  <br>

  <form>
    <div class="form-group">
      <div class="row">
        <div class="col-5">
          <label class="fn">
            First Name
          </label>
          <input type="text"
                 class="fn form-control"
                 placeholder="Enter first name"
                 [(ngModel)]="first_name" name="first_name">
        </div>
        <div class="col-5">
          <label class="ln">
            Last Name
          </label>
          <input type="text"
                 class="ln form-control"
                 placeholder="Enter last name"
                 [(ngModel)]="last_name" name="last_name">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>
        Username
      </label>
      <input type="text"
             class="form-control"
             placeholder="Enter Username"
             [(ngModel)]="username" name="username">
    </div>

<!--    <div class="form-group">-->
<!--      <label>-->
<!--        Birth Date-->
<!--      </label>-->
<!--      <input type="Date" class="form-control">-->
<!--    </div>-->

    <div class="form-group">
      <label>
        Email address
      </label>
      <input type="email"
             class="form-control"
             placeholder="Enter email"
             [(ngModel)]="email" name="email">
    </div>

    <div class="form-group">
      <label>
        Password
      </label>
      <input type="password"
             class="form-control"
             placeholder="Enter Password"
             [(ngModel)]="password" name="password">
    </div>

<!--    <div class="form-group">-->
<!--      <label>-->
<!--        Re-Enter Password-->
<!--      </label>-->
<!--      <input type="password" class="form-control"placeholder="Re-Enter Password">-->
<!--    </div>-->

    <br>

    <div class="row-1">
      <a class="btn btn-dark btn-lg col-6" (click)="register(username, password)">
        Sign Up
      </a>
    </div>

    <br>

    <div class="row">
      <div class="col">
        <a class="btn btn-dark btn-lg col-6" routerLink="/login">
          Login
        </a>
      </div>

      <div class="col">
        <a class="btn btn-dark btn-lg col-6" routerLink=" ">
          Home
        </a>
      </div>
    </div>
  </form>

  <br>
  <br>
  <br>
  </body>
</html>
