<!DOCTYPE html>
<html>
<head>
  <title>
    Home Page
  </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link  href="index.component.css" rel="stylesheet">
</head>
<body class="container-fluid">
<p class="contact">
  You can contact me
  <a href="letts.ja@northeastern.edu">
    here
  </a>.
</p>
<p>My
  <a href="resume/resume.html">
    Resume
  </a>
</p>

<hr>

<h1>
  It Takes Time
</h1>

<br>
<br>

<div class="row">
  <div class="col">
    <a class="btn btn-dark btn-lg" href="login/login.html">
      Login
    </a>
  </div>

  <div class="col">
    <a class="btn btn-dark btn-lg" href="signUp/signUp.html">
      Sign Up
    </a>
  </div>
</div>

<br>
<br>
<!--
		<p>Check out a list of <a href="myPlans" >my plans.</a></p>

		<p>Check out a list of <a href="myWork" >my work.</a></p>

		<p>CHeck out <a target="_google" href="http://google.com"> Google.</a> -->
</body>
</html>
