<!DOCTYPE html>
<html>
<head>
  <title>
    Home Page
  </title>
</head>
<body class="container-fluid">
<p class="contact">
  You can contact me
  <a href="mailto:letts.ja@northeastern.edu">
    here
  </a>.
</p>
<p>My
  <a routerLink="/resume">
    Resume
  </a>
</p>

<hr>

<h1>
  It Takes Time
</h1>

<br>
<br>

<div class="row">
  <div class="col">
    <a class="btn btn-dark btn-lg" routerLink="/login" routerLinkActive="active">
      Login
    </a>
  </div>

  <div class="col">
    <a class="btn btn-dark btn-lg" href="/signUp">
      Sign Up
    </a>
  </div>
</div>

<br>
<br>
<!--
		<p>Check out a list of <a href="myPlans" >my plans.</a></p>

		<p>Check out a list of <a href="myWork" >my work.</a></p>

		<p>CHeck out <a target="_google" href="http://google.com"> Google.</a> -->
</body>
</html>
