<!DOCTYPE html>
<html>
<head>
  <title>
    Quizes
  </title>
</head>
<body>
<h6>Link to the   <a routerLink="/dsm-5">
  DSM-5
</a></h6>
<p>the standard classification of mental disorders used by mental health professionals in the United States</p>


<h4>
  <a class="btn btn-dark" routerLink="/quizes/adhd">ADHD Quiz</a>
</h4>

<h4>
  <a class="btn btn-dark" routerLink="/quizes/bipolar">Bipolar Disorder Quiz</a>
</h4>

<h4>
  <a class="btn btn-dark" routerLink="/quizes/borderline">Borderline Personality Disorder Quiz</a>
</h4>

<h4>
  <a class="btn btn-dark" routerLink="/quizes/depression">Depression Quiz</a>
</h4>

<h4>
  <a class="btn btn-dark" routerLink="/quizes/general_axiety">General Anxiety Quiz</a>
</h4>


<h4>
  <a class="btn btn-dark" routerLink="/quizes/social_anxiety">Social Anxiety Quiz</a>
</h4>

</body>
</html>
