<!DOCTYPE html>
<html>
  <head>
    <title>
      Dashboard
    </title>
  </head>
  <body>
  <h1>It Takes Time</h1>
  <h4>
    <a class="btn btn-dark" routerLink="/helplines" >Helplines
    </a>
  </h4>
  <h4>
    <a class="btn btn-dark" routerLink="/quizes" >Quizes
    </a>
  </h4>
  <h4>
    <a class="btn btn-dark" routerLink="/mood" >Mood Tracker
    </a>
  </h4>
  <h4>
    <a class="btn btn-dark" routerLink="/nearMe" >Near Me
    </a>
  </h4>
  <h4>
    <a class="btn btn-dark" routerLink="/aboutUs" >About Us
    </a>
  </h4>
  </body>
</html>

